.home{
    display: flex;
    flex-direction: row;
}

.left-section{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-bullets{
    list-style-type: none;
    padding-left: 0%;
}

.section-bullets li{
    margin-bottom: 1rem;
}

.title{
    background-color:#4caae4d8 ;
    color: whitesmoke;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections{
    /* background-color: rgb(230, 243, 254); */
    background-color: #edf4fb;
    height:90vh;
}
